<p id="notice"><%= notice %></p>

<h1>Board games</h1>

<div class="row">
  <% @boardgames.each_slice(3) do |games|%>
  <div class="card-deck">
    <% games.each do |game|%>
      <div class="card mb-4">
        <%= image_tag game.box_image.variant(resize: "670x377")%>
        <div class="card-body">
          <h5 class="card-title"><%= game.name %></h5>
          <p class="card-text"><%= game.rules %></p>  
          <%= link_to 'Show', game, class:"btn btn-info" %>
          <%= link_to 'Edit', edit_boardgame_path(game), class:"btn btn-info" %>
          <%= link_to 'Destroy', game, method: :delete, class:"btn btn-info", data: { confirm: 'Are you sure?' } %> 
        </div>  
      </div>     
      <% end %>
  </div>
  <% end %>
</div>